body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
    background: linear-gradient(#7A2488, #000);
    color: #fff;
}
.li{
    background: #BA5DC9;
    border: none;
}
.input-color{
    background: #BA5DC9;
    border: #b23dc4;
    outline: none;
    padding: 0 30px;
    color: white;
}
.input-color:focus{
    border: 1px solid white;
    box-shadow: 0 0 2px white;
}